[Desktop Entry]
Name=gmrun
GenericName=Application Launcher
Comment=Featureful CLI-like GTK+ application launcher
Exec=gmrun
Icon=gmrun
Terminal=false
Type=Application
StartupNotify=false
Categories=System;FileTools;GTK
Keywords=Launch;Run
Version=1.0
