Source: gmrun
Section: x11
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), libgtk2.0-dev, libpopt-dev, dh-autoreconf
Standards-Version: 3.9.5
Homepage: http://sourceforge.net/projects/gmrun/
Vcs-Git: git://github.com/mati75/gmrun.git
Vcs-Browser: https://github.com/mati75/gmrun.git

Package: gmrun
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Featureful CLI-like GTK+ application launcher
 This is gmrun; a small fast, yet featureful application launcher for use
 under X11, which uses GTK+ widget toolkit. Some features include tab-
 completion of file names and programs, history, easy x-terminal-emulator
 launching, and URL handling.
